<div class="cont">
	<div>
	<p class="faq-q">1. What is the size of the frame?</p>
	<p class="faq-a">The existing frame size is 8x8 inch. More sizes will be added soon.</p>
	<p class="faq-q">2. What is the price of each frame?</p>
	<p class="faq-a">Each frame costs ₹499. A set of 3 frames costs ₹999.</p>
	<p class="faq-q">3. Do you deliver bulk orders?</p>
	<p class="faq-a">Yes, for bulk orders please do contact us on WhatsApp.</p>
	<p class="faq-q">4. How long does shipping take?</p>
	<p class="faq-a">5 days for metro cities and 8 days for other deliverable locations.</p>
	<p class="faq-q">5. How do I place my order?</p>
	<p class="faq-a">It’s a simple 4 step process 1. Login 2. Upload your photo and crop if
	required 3. Select the desired frame 4. Checkout</p>
	<p class="faq-q">6. How do I fix the frame?</p>
	<p class="faq-a">There’s a sticky strip on the back of the frame. Peel off the protective
	paper and stick them on the wall.</p>
	<p class="faq-q">7. Can I remove and refix the frame?</p>
	<p class="faq-a">Yes, it can be removed and can be refixed easily.</p>
	<p class="faq-q">8. What is the minimum acceptable size of the picture I could frame?</p>
	<p class="faq-a">The picture should be a minimum of 300kb in size. You’ll not be able
	to upload any picture lower than 300kb.</p>
	<p class="faq-q">9. Is cash on delivery available? How could I cancel the order that I
	place already?</p>
	<p class="faq-a">No, as this product is customized, cash on delivery/cancellations once
	the product is ordered is not an option.</p>
	</div>
</div>
