<div class="row header-main">
	<div class="col-lg-2 col-md-2 col-xs-12 header-logo">
		<a [routerLink]="['/']">
			<img src="assets/img/Logo.png">
		</a>
	</div>
	<div class="col-lg-8 col-md-8 col-xs-10 header-menu">
		<div class="header-menu-inside">
			<div class="header-menu-under">
				<ul>
					<li>
						<a [routerLink]="['/']">Home</a>
					</li>
					<li>
						<a (click)="openUploadImg()" style="cursor: pointer;">Frame your Photo</a>
					</li>
					<li>
						<a [routerLink]="['/']">FAQ's</a>
					</li>
					<li>
						<a [routerLink]="['/']">Contact Us</a>
					</li>
					<div style="clear:both;"></div>
				</ul>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-xs-2 header-user">
		<div class="arrow-up openDropdown"></div>
		<div class="headeruser-inner">
			<img src="assets/img/user.png" (click)="openDP()">
			<div class="userDP openDropdown">
				<ul>
					<li>My Orders</li>
					<li (click)="logOutApp()">Log Out</li>
				</ul>
			</div>
		</div>
		
		<div style="clear:both;"></div>
	</div>
</div>