<div class="row footer-main">
	<div class="col-lg-3 footer-logo">
		<a [routerLink]="['/']">
			<img src="assets/img/Logo.png">
		</a>
	</div>
	<div class="col-lg-3 footer-links">
		<h4>About</h4>
		<ul>
			<li>
				<a [routerLink]="['/faq']">Frequent Questions</a>
			</li>
			<li>
				<a [routerLink]="['/']">Careers</a>
			</li>
			<li>
				<a [routerLink]="['/shipping-policy']">Shipping</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-3 footer-links">
		<h4>Follow Us</h4>
		<ul>
			<li>
				<a [routerLink]="['/']">Instagram</a>
			</li>
			<li>
				<a [routerLink]="['/']">Facebook</a>
			</li>
			<li>
				<a [routerLink]="['/']">Twitter</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-3 footer-links">
		<h4>Contact Us</h4>
		<ul>
			<li>
				<a href="https://api.whatsapp.com/send/?phone=917013132531&text&type=phone_number&app_absent=0" target="blank" target="blank">Chat with us</a>
			</li>
			<li>
				<a [routerLink]="['/privacy-policy']">Privacy Policy</a>
			</li>
			<li>
				<a [routerLink]="['/terms-conditions']">Terms & Conditions</a>
			</li>
		</ul>
	</div>
</div>
<div class="text-center copy-right">
	<div>© Copyright 2022 The Happy Frames</div>
</div>