
@font-face {
   font-family: COMIC;
   src: url(./assets/fonts/COMIC.woff);
}
body{
    font-family: COMIC;
}
/* You can add global styles to this file, and also import other style files */
.invalid-feedback{
	color: red;
	font-size: 12px;
}
.btn-custom{
	background-color: #ffcc05;
    color: #000;
    border: 1px solid #ffcc05;
    outline: none;
    box-shadow: none;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active{
	background-color: #ffcc05;
    color: #000;
    border: 1px solid #ffcc05;
    outline: none;
    box-shadow: none;
}
.btn-custom.active.focus, .btn-custom.active:focus, .btn-custom.active:hover, .btn-custom:active.focus, 
.btn-custom:active:focus, .btn-custom:active:hover, .open>.dropdown-toggle.btn-custom.focus, .open>.btn-custom.btn-primary:focus,
 .open>.dropdown-toggle.btn-custom:hover{
	background-color: #ffcc05;
    color: #000;
    border: 1px solid #ffcc05;
    outline: none;
}
.alert-min{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 999;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .cont{
       padding: 20px !important;
    }
    .para{
        font-size: 12px !important;
    }
}