<div class="main-home-content">
	<div class="row home-con-inner">
		<div class="col-lg-6">
			<img src="assets/img/home-left-banner.png" class="banner-img">
		</div>
		<div class="col-lg-6">
			<div class="banner-headings">
				<h1>Turn your photos into stunning wall art</h1>
				<p>Design beautiful walls filled with memories using your favorite photos</p>
					<input type="button" value="Style Your Photos" class="btn btn-block btn-primary btn-custom" [routerLink]="['/upload-images']">
			</div>
		</div>
	</div>
	<div class="row pad-mar-0 home-box-inner">
		<div class="col-lg-4">
			<div class="home-box">
				<img src="assets/img/home-icon-1.png" class="banner-img-inner">
				<h4 class="text-center">Easy Installation</h4>
				<p class="text-center">Our frames stick to any wall</p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="home-box">
				<img src="assets/img/home-icon-2.png" class="banner-img-inner">
				<h4 class="text-center">Thin & Light</h4>
				<p class="text-center">Thin-Profile Premium Frames</p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="home-box">
				<img src="assets/img/home-icon-3.png" class="banner-img-inner">
				<h4 class="text-center">Satisfaction Guaranteed</h4>
				<p class="text-center">We Work To Get You</p>
			</div>
		</div>
	</div>
	<div class="home-box-magic">
		<div class="row pad-mar-0">
			<div class="col-lg-6">
				<img src="assets/img/grid-banner-2.png"/>
			</div>
			<div class="col-lg-6">
				<div class="magic-cont">
					<h1>The magic frame that sticks to any surface</h1>
					<p>Get your photos in stylish frames that stick directly to your wall and leave no damage behind!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="one-stop-cont">
		<h2 class="text-center one-stop-heading">One stop solution for your needs!</h2>
		<div class="row pad-mar-0">
			<div class="col-lg-4">
				<div class="one-stop-box">
					<img src="assets/img/grid-banner-2.png">
					<p class="text-center">Get your photos in stylish frames that stick directly to your wall and leave no damage behind!</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="one-stop-box">
					<img src="assets/img/grid-banner-2.png">
					<p class="text-center">Get your photos in stylish frames that stick directly to your wall and leave no damage behind!</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="one-stop-box">
					<img src="assets/img/grid-banner-2.png">
					<p class="text-center">Get your photos in stylish frames that stick directly to your wall and leave no damage behind!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row pad-mar-0 main-banner">
		<div class="stylish-banner">
			<img src="assets/img/banner.png">
			<input type="button" value="Style Your Photos" class="btn btn-block btn-primary btn-custom style-input" [routerLink]="['/upload-images']">
		</div>
	</div>
	<!-- <div class="main-bottom">
		<h2 class="text-center one-stop-heading we-love">We love to see your beautiful walls</h2>
	</div> -->
</div>